<header>
      <ul id="shopbag" class="list-group">
          <li class="dropdown list-group-item">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                  <div id="shopbag-img"><img src="./images/shopping_bag1.jpg">
                  <span class="badge ">{{x.qty}}</span>
                </div>
              </a>
              <ul class="dropdown-menu cart-list">
                  <li ng-repeat="x in cart">
                      <a href="#" class="photo">Image here</a>
                      <h6><a href="#">{{x.title}} </a></h6>
                      <p>{{x.qty}} - <span class="price">{{x.cost | currency}}</span></p>
                  </li>

                  -- More List --
                  <li class="total">
                      <span class="pull-right"><strong>Total</strong>: $0.00</span>
                      <a href="#" class="btn btn-default btn-cart">Cart</a>
                  </li>
              </ul>
          </li>
      </ul>
</header>
