<header>
    <!-- Fixed navbar -->
<nav class="navbar navbar-expand-md fixed-top">
        <a class="navbar-brand" href="#">Your Company</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">

            <!-- Default Navigation -->
           <ul ng-if="!user.uid" class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" ui-sref="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref="contact">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref="about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref="login">Login</a>
                </li>
            </ul>



            <!-- Admin Navigation -->
           <ul ng-if="user.uid" class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" ui-sref="admin.users">Users</a>
                </li>
                <li ng-if="user.isAdmin" class="nav-item">
                    <a class="nav-link" ui-sref="articles">Articles</a>
                </li>
                <li class="nav-item">
                    <a ng-click="user.logout()" href="#" class="nav-link">Logout</a>
                </li>
            </ul>

      		<cart></cart>



<!--
          <nav class="navbar navbar-toggleable-md navbar-light bg-faded">

            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="images/crescentAndLex_sm.png" class="img-responsive"/></a>
            <ul id="shopbag" class="list-group">
                    <li class="dropdown list-group-item">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                            <div id="shopbag-img"><img src="./images/shopping_bag1.jpg">
                            <span class="badge">3</span>
                          </div>
                        </a>
                        <ul class="dropdown-menu cart-list">
                            <li>
                                <a href="#" class="photo"></a>
                                <h6><a href="#">Delica omtantur </a></h6>
                                <p>2x - <span class="price">$99.99</span></p>
                            </li>
                            <li>
                                <a href="#" class="photo"></a>
                                <h6><a href="#">Delica omtantur </a></h6>
                                <p>2x - <span class="price">$99.99</span></p>
                            </li>
                            -- More List --
                            <li class="total">
                                <span class="pull-right"><strong>Total</strong>: $0.00</span>
                                <a href="#" class="btn btn-default btn-cart">Cart</a>
                            </li>
                        </ul>
                    </li>
                </ul>


            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                      <a class="nav-link" href="#">HOME<span class="sr-only">(current)</span></a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link" href="#collections-products">SHOP CANDLE COLLECTIONS</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#about">WATCH US AT WORK</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" ui-sref="contact">CONTACT US</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" ui-sref="about">ABOUT US</a>
                  </li>
                  <li class="nav-item">
                </ul>


                <form class="form-inline">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
              </form>
              <span id="sicons">
                        <ul>
                            <li class="twitter">
                                <a tittle="Twitter" href="https://twitter.com/rosiogvaldez" target="blank"><i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="youtube">
                                <a title="Youtube" src=images/social_media_icons_square/youtube_icon71sq.jpg"><a href=https://www.youtube.com/channel/UC1hMhmbdZvJ6aCG8SLVwU6w?view_as=subscriber" target="_blank"><i class="fa fa-youtube-play"></i>
                                </a>
                            </li>
                            <li class="instagram">
                                <a title="Instagram"><a href="https://www.instagram.com/rosiogvaldez/" target="_blank"><i class="fa fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                  </span>
              </div>
          </nav>
        -->
        </div>
    </nav>
</header>
